*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.consult-bar{
    background-color: #333;
}

.dropdown{
    display: inline-block;
    padding-left: 48px
}

.dropdown a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 24px;
    font-size: 24px;
}

.dropdown image{
    padding: 0%
}

.dropdown a:hover{
    background-color: red;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
    padding: 16px;
}

.dropdown:active .dropdown-menu{
    display: block;
}


