* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'weather';
}

@font-face {
    font-family: 'weather';
    src: url(../fonts/Inter.ttf) format('truetype');
}

body {
    display: flex;
    position: absolute;
    z-index: 0;
    left: 20%;
    background-color:rgb(251, 107, 55)

}

.CityConsult {
    width: 671px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 24px;

}

.btn {
    border-color: #000;
    color: white;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
}

.resultCity { /** div com o resultado da cidade apos o search */
    display: flex;
    padding-top: 100px;
    justify-content: center;
    width: 671px;
    height: 714px;
    border-radius: 38px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(https://scontent.fpoa44-1.fna.fbcdn.net/v/t39.30808-6/356142655_614385207454816_197640787349228181_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGhQhUPRmzI14MLQzWphB5GIDnSUYtIeQsgOdJRi0h5C_-Tr2WmZZO-SroZzdUY58mL6u0Yy9D0iHopGdmW3_y7&_nc_ohc=bg8y3bmI7vwAb7CulPq&_nc_ht=scontent.fpoa44-1.fna&oh=00_AfDWB615EOlveKao8Itjg5T_TBMTscx3EYx9Ong5l_DtGA&oe=6627947A) lightgray -5.605px -13.713px / 101.947% 120.702% no-repeat;
}

.banner1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    width: 600px;
    height: 130px;
    border-radius: 38px;
    background: rgba(247, 247, 247, 0.28);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    justify-content: center;
    align-items: center;
}

.banner1 span {
    color: white;
    font-size: 80px
}

.city {
    font-family: sans-serif;
    padding: 0;
    padding-bottom: 0px;
    display: flex;
    color: white;
    font-size: 40px;
    font-weight: 600;

}

#tempatual {
    display: flex;
    color: white;
    font-size: 80px
}

.leftbanner {
    display: flex;
    flex-direction: row;
}

.rigthbanner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 120px;
    align-items: end;
    justify-content: center;
}


.hour {
    font-weight: 800;
    color: white;
    font-size: 28px;    
}


.term{
    padding-top: 20px;
}

.proxDays{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    width: 72px;
    height: 255px;
    border-radius: 8px;
    background: #91C2FC;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    position: absolute;
    z-index: 2;
    left: 160%;
    top: 62.5%;
    margin: 0;
    padding: 0;
}

.proxDays a{
    color: white;
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.proxDays a:hover{ /**efeito do hover no preview*/
    transform:  translateY(-10px) scale(1.4);
    background-image: url(/img/Polygon.svg);
     
    min-width: 73.67px;
    min-height: 39.4px;

    border-radius: 10px;
    
    background-size: cover;
    background-repeat: no-repeat ;

    
}

.proxDays a.clicked { /**efeito do click no preview*/
    transform:  translateY(-10px) scale(1.4);
    background-image: url(/img/Polygon.svg);
    background-size: cover;
    min-width: 73.67px;
    min-height: 39.4px;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .situation{ /**div do Icone Principal */
    display: flex;
    min-width: 350px;
    min-height: 262px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgba(247, 247, 247, 0.28);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    z-index: 1;
    position: absolute;
    left: 5.2%;
    bottom: 10%;
}
.situation img{ /**Icone Principal */
    width: 211px;
    height: 211px;
    animation: rotate;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.situation img {
    animation: rotate 10s linear infinite;
}

.currentclime{ /** detalhes sobre a previsao do dia */
    display: flex;
    position: absolute;
    left: 105%;
    bottom: 0%;
    
    width: 370px;
    height: 714px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.20);
    font-size: 22px;
    justify-content: center;
}
.currentclime span{
    padding-top: 22px;
    color: white;
    font-weight: 700;
}

.preview{
    padding: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    display: flex;
    z-index: 1;
    position: absolute;
    width: 441px;
    height: 255px;
    border-radius: 8px;
    background: rgba(145, 194, 252, 0.88);
    left: 95%;
    bottom: 5%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 

}
.previewIcons img{
    width: 75px;
    height: 75px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.85); 
    border-radius: 100px;
   
}

.nextdaysi{
    flex-direction: column;
    display: flex;
    align-items: start;
}
.tempMax{
    max-height: 75px;
    font-size: 65px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tempMin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: white;
}
.tempMin img{
    width: 60px;
    height: 60px;

}
.nextStatus{
    display: flex;
    align-content: space-between;
    align-items: end;
    flex-direction: column;
    font-size: 22px;
    color: white;
}
.nextStatus span{
    font-size: 15px;
    
}

.moisture, .windforce, .probrain{
    padding-bottom: 15px;
}
.statusIcons div{
    height: 75px;
   

}
.statusIcons img{
    width: 55px;
    height: 55px;

}